<div class="side-dashbord d-none d-xl-block">
  <div class="dashboard">
    <div>
      <img src="./assets/images/PMS.svg" alt="PMS">
    </div>

    <div>
      <a href=""><img src="./assets/images/control-room.svg" alt="control-room"></a>
      <a href=""><img src="./assets/images/dashboard.svg" alt="dashboard"></a>
      <a href=""><img src="./assets/images/elements.svg" alt="elements"></a>
      <a href=""><img src="./assets/images/settings.svg" alt="settings"></a>
      <a href=""><img src="./assets/images/notifications.svg" alt="notifications"></a>
    </div>

    <div>
      <a href=""><img src="./assets/images/logout.svg" alt="logout"></a>
    </div>
  </div>
</div>

<div>
  <div class="top-nav">
    <div class="container me-2">
      <div class="row g-4">
        <div class="col-xl-2">

          <div class="first-part">
            <div class="d-flex align-items-end">
              <span class="circle-dot"></span>
              <img src="./assets/images/gas-station-svgrepo-com.svg" alt="gas-station">
              <h5 class="mx-1 font-lg mb-0 fw-normal">2/3</h5>
              <div>
                <p class="m-0 font-sm">Monitored</p>
                <p class="m-0 font-sm">Stations</p>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xl-2">
          <div class="second-part">
            <div class="d-flex align-items-end">
              <span class="circle-dot"></span>

              <span class="dotted"></span>



              <h5 class="mx-1 font-lg mb-0 fw-normal">20s</h5>
              <div>
                <p class="m-0 font-sm">Last</p>
                <p class="m-0 font-sm">Update</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-4">
          <div class="third-part">
            <div class="d-flex justify-content-between align-items-center">
              <button class="btn-main">TODAY</button>
              <button class="btn-transparent">YESTERDAY</button>
              <button class="btn-transparent">LAST WEEK</button>
            </div>

          </div>
        </div>

        <div class="col-xl-2">
          <div class="fourth-part">
            <i class="fa-solid fa-play me-2" style="color: #FF7F5C;"></i>
            <div class="d-flex justify-content-center align-items-center border-bottom border-3 border-black">
              <input class="border-0 w-100" type="datetime" placeholder="Start date-time">
              <div><i class="fa-regular fa-calendar-days ms-1"></i></div>
            </div>

          </div>
        </div>

        <div class="col-xl-2">
          <div class="fifth-part">
            <div class="pause"></div>
            <div class="d-flex justify-content-center align-items-center border-bottom border-3 border-black">
              <input class="border-0 w-100" type="datetime" placeholder="End date-time">
              <div><i class="fa-regular fa-calendar-days ms-1"></i></div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<main class="bg-back pt-5 pb-3">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-7 offset-md-1">
        <div>
          <div class="row g-3">
            <div class="col-md-3">
              <div>
                <div class="price-table">
                  <h3 class="m-0">71,028 <span class="fw-light">EGP</span></h3>
                  <p class="m-0 fw-bold">Total Value</p>
                  <span>
                    <i class="fa-solid fa-caret-down me-1" style="color: #ff7f5c;"></i>
                    2%
                  </span>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div>
                <div class="price-table bg-light">
                  <h3 class="m-0">20,000 <span class="fw-light">m<sup>3</sup></span></h3>
                  <p class="m-0 fw-bold">Total Sales</p>
                  <span>
                    <i class="fa-solid fa-caret-up me-1" style="color: #ff7f5c;"></i>
                    50 m<sup>3</sup>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div>
                <div class="price-table bg-light">
                  <h3 class="m-0">20,000 <span class="fw-light">m<sup>3</sup></span></h3>
                  <p class="m-0 fw-bold">Avg Sales</p>
                  <span>
                    <i class="fa-solid fa-caret-down me-1" style="color: #ff7f5c;"></i>
                    50 m<sup>3</sup>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div>
                <div class="price-table bg-light">
                  <h3 class="m-0">1567</h3>
                  <p class="m-0 fw-bold">Total Transaction</p>
                  <span>
                    <i class="fa-solid fa-caret-up me-1" style="color: #ff7f5c;"></i>
                    20
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="my-pills mx-0 mt-3">
          <ul class="nav nav-pills" dir="rtl" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link " id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                List <i class="fa-solid fa-list mx-1" style="color: #FF7F5C;"></i>
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
                GRAPH <i class="fa-solid fa-signal mx-1" style="color: #FF7F5C;"></i>
              </button>
            </li>

          </ul>

          <div class="tab-content mt-4" id="pills-tabContent">

            <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
              tabindex="0">

              <div class="bg-white rounded-2 p-2">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                  <div class="container-fluid">
                    <a class="navbar-brand" href="#">STATIONS ACTIVATES OVERVIEW</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                      aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                          <a class="nav-link active actived-link" aria-current="page" href="#">SALES</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">TRANSACTION</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">VALUE</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">COMPRESSION</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </nav>

                <div class="chart-container">
                  <canvas id="MyChart">{{ chart }}</canvas>
                </div>

              </div>

            </div>

            <div class="tab-pane fade customize-to-scroll" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">

              <div class="bg-white rounded-2 p-2 mb-3">
                <div class="d-flex justify-content-between align-items-center px-3">
                  <div class="d-flex align-items-end">
                    <span class="circle-dot"></span>
                    <img src="./assets/images/gas-station-svgrepo-com-red.svg" alt="gas-station">
                    <div>
                      <p class="m-0">STATION NAME</p>
                      <p class="m-0">DUMMY</p>
                    </div>
                  </div>
                  <div><button class="fw-bolder border-0 bg-transparent">...</button></div>
                </div>
                <hr>

                <table class="table text-center table-borderless">
                  <tbody >
                    <tr>
                      <th>Total Sales</th>
                      <td>62,721 m<sup>3</sup></td>
                      <th>Compression State</th>
                      <td>Compression</td>
                      <th>Max Transaction / hour</th>
                      <td>20</td>
                    </tr>
                    <tr>
                      <th>Total Value</th>
                      <td>550 EGP</td>
                      <th>Total Transaction Count</th>
                      <td>5161</td>
                      <th>Max Transaction Date-Time</th>
                      <td>8-1-2021 | 10:16 PM</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="bg-white rounded-2 p-2 mb-3">
                <div class="d-flex justify-content-between align-items-center px-3">
                  <div class="d-flex align-items-end">
                    <span class="circle-dot"></span>
                    <img src="./assets/images/gas-station-svgrepo-com-red.svg" alt="gas-station">
                    <div>
                      <p class="m-0">STATION NAME</p>
                      <p class="m-0">DUMMY</p>
                    </div>
                  </div>
                  <div><button class="fw-bolder border-0 bg-transparent">...</button></div>
                </div>
                <hr>

                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <th>Total Sales</th>
                      <td>62,721 m<sup>3</sup></td>
                      <th>Compression State</th>
                      <td>Compression</td>
                      <th>Max Transaction / hour</th>
                      <td>20</td>
                    </tr>
                    <tr>
                      <th>Total Value</th>
                      <td>550 EGP</td>
                      <th>Total Transaction Count</th>
                      <td>5161</td>
                      <th>Max Transaction Date-Time</th>
                      <td>8-1-2021 | 10:16 PM</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="bg-white rounded-2 p-2">
                <div class="d-flex justify-content-between align-items-center px-3">
                  <div class="d-flex align-items-end">
                    <span class="circle-dot bg-danger-subtle"></span>
                    <img src="./assets/images/gas-station-svgrepo-com-gray.svg" alt="gas-station">
                    <div>
                      <p class="m-0">STATION NAME</p>
                      <p class="m-0">DUMMY</p>
                    </div>
                  </div>
                  <div><button class="fw-bolder border-0 bg-transparent">...</button></div>
                </div>
                <hr>

                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <th>Total Sales</th>
                      <td>62,721 m<sup>3</sup></td>
                      <th>Compression State</th>
                      <td>Compression</td>
                      <th>Max Transaction / hour</th>
                      <td>20</td>
                    </tr>
                    <tr>
                      <th>Total Value</th>
                      <td>550 EGP</td>
                      <th>Total Transaction Count</th>
                      <td>5161</td>
                      <th>Max Transaction Date-Time</th>
                      <td>8-1-2021 | 10:16 PM</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>

          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-center">
          <h3>Hourly Sales</h3>
          <img src="./assets/images/Screenshot.png" width="100%" alt="Hourly-Digram">
          <h3 class="mb-4">Sales by Station</h3>

          <div>
            <div class="d-flex justify-content-center align-items-center">
              <img src="./assets/images/gas-station-svgrepo-com-impro.svg" alt="gas-station">
              <h5 class="my-0 ms-1 me-3">Station Name</h5>
              <h5 class="m-0">62,721 m<sup>3</sup></h5>
            </div>

            <div class="d-flex justify-content-center">
              <div class="progress-bar w-50 my-2">
                <div class="progress" style="width: 50%;"></div>
              </div>
            </div>
          </div>

          <div class="my-4">
            <div class="d-flex justify-content-center align-items-center">
              <img src="./assets/images/gas-station-svgrepo-com-impro.svg" alt="gas-station">
              <h5 class="my-0 ms-1 me-3">Station Name</h5>
              <h5 class="m-0">62,721 m<sup>3</sup></h5>
            </div>

            <div class="d-flex justify-content-center">
              <div class="progress-bar w-50 my-2">
                <div class="progress" style="width: 50%;"></div>
              </div>
            </div>
          </div>

          <div>
            <div class="d-flex justify-content-center align-items-center">
              <img src="./assets/images/gas-station-svgrepo-com-impro.svg" alt="gas-station">
              <h5 class="my-0 ms-1 me-lg-5">Station Name</h5>
              <h5 class="m-0 fw-light" style="color: #B9CDE2;">NM</h5>
            </div>

            <div class="d-flex justify-content-center">
              <div class="progress-bar w-50 my-2">
                <div class="progress" style="width: 0%;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
